{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2 style="text-align:center; margin: 20px 0">{{board_info.board_name}}</h2>
    {% if content_list %}
    {% for content in content_list %}
    <div class="card " style="width:60%; margin:0 auto">
      <div class="card-header ">
        <div style="display:flex;justify-content : space-between">
            <a href="{% url 'board:content_detail' content.id %}">{{content.title}}</a>
            {% if request.user.nickname == content.author %}
            <div>
                <a class="btn btn-danger btn-sm" href="{% url 'board:delete' content.id %}" role="button" onclick="return confirm('정말 삭제하시겠습니까?')">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <a class="btn btn-primary btn-sm" href="{% url 'board:update' content.id %}" role="button">
                    <i class="fas fa-pen"></i>
                </a>
            </div>

            {%endif%}
        </div>

      </div>
      <div class="card-body">

        <p class="card-text">{{content.content}}</p>
          <div style="display:flex; justify-content:space-between">
              <div style="display:flex">
              <span style="font-size:14px">{{content.date}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
              <strong style="font-size:14px">{{content.author}}</strong>
          </div>
            <div  style="display:flex">
                <i class="far fa-comment"  style="margin-top:4px; margin-right:4px"></i>
          <span>{{content.comment.count}}</span>
            </div>
          </div>

      </div>
    </div>
    {% if forloop.last %}
     {% if user.is_authenticated %}

        <a class="btn btn-primary" href="{% url 'board:content_create' board_id %}" role="button" style="margin-top:16px">게시글 작성하기</a>


    {%endif %}

    {% endif %}
    {% endfor %}

    {% else %}
    <p>아직 작성된 글이 없급니다,</p>
    <a class="btn btn-primary" href="{% url 'board:content_create' board_id %}" role="button" style="margin-top:16px">게시글 작성하기</a>
    {% endif %}


</div>
{% endblock %}