{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form action="{% url 'board:content_create' a.id %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">제목</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="제목" name="title">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">내용</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="content" placeholder="내용"></textarea>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
        </div>
    </form>
</div>
{% endblock %}