
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'board:index' %}">HOME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          {% if user.is_authenticated %}
          <div style="display:flex">
            <a class="nav-link"href=" {% url 'accounts:profile' user.id %}">{{user.nickname}}</a>
          <a class="nav-link" style="color:red" href=" {% url 'accounts:logout' %}" onclick="return confirm('정말 로그아웃 하시겠습니까?')">logout</a>
          </div>
          {% else %}
          <a class="nav-link"href="{% url 'accounts:login' %}">login</a>
          {% endif %}
        </li>

      </ul>

    </div>
  </div>
</nav>